{% extends 'blog/base.html' %}
{% block content %}

  <div id="holder">
    <div id="main" class="container text-center">
      <div class="row">
        <div class="title">
          <h3>RANDOM QUOTE MACHINE</h3>
        </div>
        <div class="quotes">
          <p id="quote">When you play the game of thrones, you win or you die</p>
          <p id="character">~ Cersei Lannister</p>
        </div>
          <button class="btn btn-default" id="quoteButton">NEW QUOTE</button>
    </div>
     <div id="main" class="container text-center">
     </div>
          <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script language="javascript" src="/static/js/quotes.js"></script>
  </div>

{% endblock %}