

h1 a, h2 a {
     color: #FCA205;
     font-family: 'Lobster';
}

.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 40px 20px 50px 40px;
}

.page-header p{
  font-size: 10pt;
 
}

.page-header a {
    font-size: 10pt;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

/*Los botones del menú*/
#button {
 padding: 0;
 margin-left: 650px;
 }

 #button li {
 display: inline;
 }

 #button li a {
 font-family: Arial;
 font-size: 20px;
 text-decoration: none;
 float: left;
 padding: 10px;
 background-color: transparent;
 color: #999999;

 }

 #button li a:hover {
 background-color: #fff;
 margin-top: -2;
 padding-bottom: 12px;
 }

/*Para las casas y quiz*/
body {
    color: #413D3D;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
   list-style-type:none;
  margin: 0 auto;
   list-style:none;
   padding:0;
}

li {
  list-style:none;
}

button {
      width: 220px;
      font-size: 20px;
      margin:12px 0;
      padding: 10px 0;
      background-color: #516363;
      color: #fff;
      font-family: 'Oswald', sans-serif;
      -webkit-border-radius: 1000px;
      border-radius: 1000px;
      outline: none;
      border: none;
}

button:active {
      background-color: #95a5a6;
}

.correctStyle {
      background-color: #2ecc71;
}

.incorrectStyle {
      background-color: #e74c3c;
}

img {
    border-radius: 5px;
}


/*Home*/

.fondo {
    background-image: url("../images/got.jpg");
    background-size: cover;
}


.cabecera{
  color: #fff;
  height: 100%;
  width: 200%;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
  margin-left: -70px;
  margin-top: -25px;
  
}

div.fondo.cabecera {
    width: 1920px;
    height: 1080px;
}

body#homepage {
    background-color: black;
}

/*Footer*/

footer{
    padding: 8px;
    position: bottom;
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.main-content{
    display: flex;
}

.main-content.box{
    flex-basis: 50%;
    padding: 10px 20px;

}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
    padding: 8px;
}

.left .content p{
    text-align: justify;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover{
    background-color: white;
    
}